In [1]:

key ="2201050767bb417f928e06c7166304c6b41e485d"
b_key ="641DEDB0-361B-441D-BF2E-215378D97EB4"
from census import Census
from us import states
%matplotlib inline
import seaborn as sns


import matplotlib.pyplot as plt
import numpy as np
import requests
import pandas as pd
pd.options.mode.chained_assignment = None 
import os
import requests
import urllib.request, json 


c = Census(key)

In [19]:
df = pd.read_excel("County_Rural_Lookup.xlsx")
df = df.drop("Unnamed: 8", axis =1)

In [20]:
df.columns = df.iloc[2]
df = df.drop([0, 1,2])
df = df.drop([3145, 3146,3147,3148,3149,3150])
df = df.rename(columns ={"2010 Census \nPercent Rural":"percent_rural"})
df = df.rename(columns = {"2015 GEOID": "geo_id"} )

In [21]:
rural = df[df.percent_rural >= 99.9]

rural.head()

2,geo_id,State,2015 Geography Name,Note,2010 Census Total Population,2010 Census Urban Population,2010 Census Rural Population,percent_rural
14,01023,AL,"Choctaw County, Alabama",NaN,13859,0,13859,100
16,01027,AL,"Clay County, Alabama",NaN,13932,0,13932,100
17,01029,AL,"Cleburne County, Alabama",NaN,14972,0,14972,100
21,01037,AL,"Coosa County, Alabama",NaN,11539,0,11539,100
23,01041,AL,"Crenshaw County, Alabama",NaN,13906,0,13906,100

In [22]:
m_rural = df[(df.percent_rural < 99.9) & (df.percent_rural > 49.9 )]

In [23]:
urban = df[df.percent_rural <= 49.9]

In [24]:
areas = pd.read_csv("final_county.csv")

In [25]:
areas = areas.drop(["Unnamed: 0" ,"B01001_003E","B01001_004E","B01001_005E","B01001_006E"
                   ,"B01001_027E","B01001_028E","B01001_029E","B01001_030E"],axis = 1)

In [26]:
areas.County = areas.County.astype(str)

In [27]:
areas['County'] = areas['County'].str.zfill(3)

In [28]:
areas.State = areas.State.astype(str)
areas['State'] = areas['State'].str.zfill(2)

In [29]:
areas["geo_id"] = areas.State + areas.County

In [30]:
unemployment = pd.read_excel("laucntycur14.xlsx")
unemployment.columns = unemployment.iloc[3]

unemployment = unemployment.drop([0, 1,2,3,4])

unemployment = unemployment.rename(index=str,columns ={"(%)":"unemployment_rate"})
unemployment["geo_id"] = unemployment["S_Code"] + unemployment["Code"]
unemployment.head()

3,LAUS Code,S_Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,unemployment_rate,geo_id
5,CN0100100000000,01,001,"Autauga County, AL",Jun-17,26128,25015,1113,4.3,01001
6,CN0100300000000,01,003,"Baldwin County, AL",Jun-17,94176,90303,3873,4.1,01003
7,CN0100500000000,01,005,"Barbour County, AL",Jun-17,8328,7799,529,6.4,01005
8,CN0100700000000,01,007,"Bibb County, AL",Jun-17,8557,8139,418,4.9,01007
9,CN0100900000000,01,009,"Blount County, AL",Jun-17,24626,23533,1093,4.4,01009

In [31]:
x = rural.loc[:, ['geo_id']]
areas.head()

,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,Multiple,...,ninety,h_above_poverty,Median Household Income,acs_laborf,acs_unemployed,Name,County,State,under_18,geo_id
0,58.2,4.0,76,55.0,0.0,3.0,0.0,0.0,0.0,6.0,...,0.0,17.0,56875.0,39.0,0.0,"Loving County, Texas",301,48,6.0,48301
1,56.5,8.6,91,29.0,0.0,0.0,21.0,28.0,0.0,10.0,...,0.0,13.0,65625.0,76.0,0.0,"Kalawao County, Hawaii",005,15,1.0,15005
2,39.8,10.5,274,210.0,0.0,0.0,0.0,0.0,0.0,0.0,...,6.0,63.0,57083.0,171.0,7.0,"King County, Texas",269,48,56.0,48269
3,48.0,5.2,425,413.0,0.0,0.0,0.0,0.0,0.0,8.0,...,2.0,112.0,53750.0,213.0,0.0,"McPherson County, Nebraska",117,31,93.0,31117
4,41.0,6.0,437,426.0,0.0,0.0,0.0,0.0,1.0,10.0,...,4.0,99.0,40375.0,190.0,7.0,"Arthur County, Nebraska",005,31,138.0,31005

In [32]:
rural_result = pd.merge(x, areas, on='geo_id')

In [33]:
rural_result = pd.merge(rural_result,unemployment, on ="geo_id")

rural_result = rural_result[rural_result["Period"] == "Jul-18"]

#df3 = df1[(~df1.col1.isin(common.col1))

x = urban.loc[:, ['geo_id']]
urban_result = pd.merge(x, areas, on='geo_id')

In [36]:
print("hi")

hi

In [37]:
x = urban.loc[:, ['geo_id']]
urban_result = pd.merge(x, areas, on='geo_id')
urban_result.head()

,geo_id,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,...,sixty,ninety,h_above_poverty,Median Household Income,acs_laborf,acs_unemployed,Name,County,State,under_18
0,01001,37.8,0.5,55049,41663.0,10113.0,226.0,444.0,6.0,123.0,...,719.0,544.0,13273.0,53099.0,26008.0,1437.0,"Autauga County, Alabama",001,01,13853.0
1,01003,42.3,0.3,199510,165950.0,18406.0,1228.0,1325.0,0.0,305.0,...,4957.0,1841.0,45500.0,51365.0,93872.0,5887.0,"Baldwin County, Alabama",003,01,44270.0
2,01015,39.1,0.4,115883,84592.0,23561.0,229.0,1079.0,6.0,27.0,...,1649.0,1295.0,25842.0,41954.0,53539.0,6218.0,"Calhoun County, Alabama",015,01,25641.0
3,01017,43.1,0.3,34018,19303.0,13770.0,78.0,312.0,0.0,17.0,...,469.0,220.0,7329.0,36027.0,15191.0,1136.0,"Chambers County, Alabama",017,01,7283.0
4,01031,39.3,0.4,50991,36393.0,8671.0,421.0,623.0,0.0,5.0,...,366.0,389.0,11476.0,47872.0,24037.0,1410.0,"Coffee County, Alabama",031,01,12122.0

In [38]:
urban_result = pd.merge(urban_result,unemployment, on ="geo_id")

urban_result = urban_result[urban_result["Period"] == "Jun-17"]
urban_result.head()

,geo_id,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,...,under_18,LAUS Code,S_Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,unemployment_rate
0,01001,37.8,0.5,55049,41663.0,10113.0,226.0,444.0,6.0,123.0,...,13853.0,CN0100100000000,01,001,"Autauga County, AL",Jun-17,26128,25015,1113,4.3
14,01003,42.3,0.3,199510,165950.0,18406.0,1228.0,1325.0,0.0,305.0,...,44270.0,CN0100300000000,01,003,"Baldwin County, AL",Jun-17,94176,90303,3873,4.1
28,01015,39.1,0.4,115883,84592.0,23561.0,229.0,1079.0,6.0,27.0,...,25641.0,CN0101500000000,01,015,"Calhoun County, AL",Jun-17,45736,43231,2505,5.5
42,01017,43.1,0.3,34018,19303.0,13770.0,78.0,312.0,0.0,17.0,...,7283.0,CN0101700000000,01,017,"Chambers County, AL",Jun-17,15116,14452,664,4.4
56,01031,39.3,0.4,50991,36393.0,8671.0,421.0,623.0,0.0,5.0,...,12122.0,CN0103100000000,01,031,"Coffee County, AL",Jun-17,20888,19881,1007,4.8

In [39]:
x = m_rural.loc[:, ['geo_id']]
m_rural_result = pd.merge(x, areas, on='geo_id')

In [40]:
m_rural_result = pd.merge(m_rural_result,unemployment, on ="geo_id")

m_rural_result = m_rural_result[m_rural_result["Period"] == "Jun-17"]
m_rural_result.head()

,geo_id,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,...,under_18,LAUS Code,S_Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,unemployment_rate
0,01005,38.7,0.6,26614,12212.0,12745.0,46.0,118.0,0.0,198.0,...,5735.0,CN0100500000000,01,005,"Barbour County, AL",Jun-17,8328,7799,529,6.4
14,01007,40.2,0.9,22572,16876.0,4788.0,81.0,14.0,0.0,0.0,...,4756.0,CN0100700000000,01,007,"Bibb County, AL",Jun-17,8557,8139,418,4.9
28,01009,40.8,0.4,57704,50582.0,899.0,171.0,92.0,0.0,130.0,...,13601.0,CN0100900000000,01,009,"Blount County, AL",Jun-17,24626,23533,1093,4.4
42,01011,39.2,1.7,10552,2288.0,7967.0,84.0,84.0,0.0,1.0,...,2274.0,CN0101100000000,01,011,"Bullock County, AL",Jun-17,4777,4533,244,5.1
56,01013,40.6,0.4,20280,10704.0,8825.0,15.0,203.0,0.0,13.0,...,4733.0,CN0101300000000,01,013,"Butler County, AL",Jun-17,9012,8481,531,5.9

In [41]:
rural_result.to_csv("final_rural.csv")

In [42]:
m_rural_result.to_csv("final_mrural.csv")

In [44]:
urban_result.to_csv("final_urban.csv")

In [47]:
urban_result.head()

,geo_id,Median Age,Median Age ME,Population,White,Black,Native American,Asian,Native Hawaiian,Other,...,under_18,LAUS Code,S_Code,Code,County Name/State Abbreviation,Period,Force,Employed,Unemployed,unemployment_rate
0,01001,37.8,0.5,55049,41663.0,10113.0,226.0,444.0,6.0,123.0,...,13853.0,CN0100100000000,01,001,"Autauga County, AL",Jun-17,26128,25015,1113,4.3
14,01003,42.3,0.3,199510,165950.0,18406.0,1228.0,1325.0,0.0,305.0,...,44270.0,CN0100300000000,01,003,"Baldwin County, AL",Jun-17,94176,90303,3873,4.1
28,01015,39.1,0.4,115883,84592.0,23561.0,229.0,1079.0,6.0,27.0,...,25641.0,CN0101500000000,01,015,"Calhoun County, AL",Jun-17,45736,43231,2505,5.5
42,01017,43.1,0.3,34018,19303.0,13770.0,78.0,312.0,0.0,17.0,...,7283.0,CN0101700000000,01,017,"Chambers County, AL",Jun-17,15116,14452,664,4.4
56,01031,39.3,0.4,50991,36393.0,8671.0,421.0,623.0,0.0,5.0,...,12122.0,CN0103100000000,01,031,"Coffee County, AL",Jun-17,20888,19881,1007,4.8